{% extends "login/base.html" %}
{% block content %}

{% if user.is_authenticated %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}


<hr>
    <!-- Page heading -->
    <h1>My To Do List</h1>
    <a href="{% url 'task-create' %}" > add new item</a>
    <!-- Table to display the list of tasks -->
    <table>
        <tr>
            <!-- Table headers for better readability -->
            <th>Items</th>
            <th>Actions</th>
        </tr>

        <!-- Loop through the tasks passed from the view -->
        {% for task in tasks %}
            <tr>
                <!-- Display the task title -->
                <td>{{ task.title }}</td>

                <!-- Link to view the details of a specific task -->
                <td>
                    <a href="{% url 'task' task.id %}">View</a>
                </td>
                <td>
                    <a href="{% url 'task-update' task.id %}">Update</a>
                </td>
                <td>
                    <a href="{% url 'task-delete' task.id %}">delete</a>
                </td>
            </tr>
        {% empty %}
            <!-- Message displayed if no tasks are found -->
            <tr>
                <td colspan="2">
                    <h3>No items</h3>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
